@media (max-width: 1000px) {
  .cabecera .menu a {
    margin: 0 8px;
    font-size: 1.2rem;
  }
  .cabecera .menu .cv {
    margin-right: 40px;
  }
  main .container-about figure img {
    width: 260px;
  }
  main .container-about .about .data-interests,
  main .container-about .about .interests {
    display: flex;
    flex-direction: column;
  }
  main .container-about .about .my-data h3,
  main .container-about .about .interests h3 {
    margin-bottom: 25px;
  }
  main .container-about .about .container-technologies {
    margin-left: 0;
  }
  .container-jobs .my-jobs {
    grid-template-columns: repeat(auto-fill, 220px);
  }
  .container-jobs .my-jobs .jobs {
    width: 220px;
  }
  .container-jobs .my-jobs .jobs img {
    width: 220px;
  }
  .form .container-form {
    width: 340px;
  }
  .form .container-form .input {
    width: 280px;
  }
  .networks .container-networks {
    width: 340px;
  }
  .networks .container-networks .social-networks a {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .cabecera {
    width: 100%;
    height: 100vh;
  }
  .cabecera .menu a:hover {
    border: none;
    padding: 0;
  }
  .cabecera .menu .notebook-menu {
    display: none;
  }
  .bars__menu {
    display: block;
  }
  .info-header .info-container {
    margin-top: 120px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
  }
  .info-header .info-container .container-nombre {
    margin-left: 0;
    width: auto;
    border: none;
  }
  main .container-about {
    padding: 10px 0;
    height: auto;
  }
  main .container-about figure {
    display: none;
    padding-right: 0;
    border-right: none;
  }
  main .container-about figure img {
    width: 320px;
    border-radius: 100%;
  }
  main .container-about .about {
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  main .container-about .about .title-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .container-about .about h2 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
  }
  main .container-about .about p {
    padding: 5px 25px 20px 25px;
  }
  main .container-about .about .my-data {
    margin-bottom: 15px;
  }
  main .container-about .about .my-data li .data-p {
    padding: 0;
  }
  main .container-about .about .my-data h3,
  main .container-about .about .interests h3 {
    margin-bottom: 25px;
  }
  main .container-about .about .container-technologies {
    margin-left: 0;
  }
  main .container-about .about .data-interests,
  main .container-about .about .interests {
    margin-left: 26px;
    display: flex;
    flex-direction: column;
  }
  .container-jobs .my-jobs {
    grid-template-columns: repeat(auto-fill, 160px);
  }
  .container-jobs .my-jobs .jobs {
    width: 160px;
  }
  .container-jobs .my-jobs .jobs img {
    width: 160px;
    height: 160px;
  }
  main #button-up {
    width: 40px;
    height: 40px;
    right: 25px;
    bottom: 64px;
  }
  footer {
    height: auto;
  }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form .container-form {
    padding: 0;
    width: 100%;
    height: 300px;
  }
  .form .container-form p {
    margin: 8px 0;
  }
  .form .container-form .input {
    width: 260px;
  }
  .form .container-form .button {
    margin: 16px 0;
    padding: 5px 20px;
  }
  .networks .container-networks {
    padding: 0;
    padding-bottom: 0;
    width: 100%;
    height: 13vh;
  }
  .networks .container-networks .social-networks a {
    font-size: 35px;
    margin: 0 15px;
  }
  .networks h3 {
    font-size: 0;
    padding-bottom: 0;
    display: none;
    border-bottom: none;
  }
}
@media (max-width: 370px) {
  .cabecera {
    width: 100%;
    height: 100vh;
  }
  .bars__menu {
    display: block;
  }
  .info-header .info-container {
    margin-top: 120px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
  }
  .info-header .info-container .container-nombre {
    margin-left: 0;
    width: auto;
    border: none;
  }
  main .container-about {
    padding: 10px 0;
    height: auto;
  }
  main .container-about figure {
    display: none;
    padding-right: 0;
    border-right: none;
  }
  main .container-about figure img {
    width: 0;
  }
  main .container-about .about {
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  main .container-about .about h2 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
  }
  main .container-about .about p {
    padding: 5px 25px 20px 25px;
  }
  main .container-about .about .my-data {
    margin-bottom: 15px;
  }
  main .container-about .about .my-data li h4 {
    width: 115px;
  }
  main .container-about .about .my-data li .data-p {
    padding: 0;
  }
  main .container-about .about .my-data h3,
  main .container-about .about .interests h3 {
    margin-bottom: 25px;
  }
  main .container-about .about .container-technologies {
    width: 300px;
  }
  main .container-about .about .technologies .html,
  main .container-about .about .technologies .css,
  main .container-about .about .technologies .js {
    width: 94px;
    height: 94px;
  }
  main .container-about .about .interests .container-interests .interest {
    width: 94px;
    height: 94px;
  }
  .container-jobs .my-jobs {
    grid-template-columns: repeat(auto-fill, 160px);
  }
  .container-jobs .my-jobs .jobs {
    width: 160px;
  }
  .container-jobs .my-jobs .jobs img {
    width: 160px;
    height: 160px;
  }
  main #button-up {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 65px;
  }
  footer {
    height: auto;
  }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form .container-form {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
  }
  .form .container-form p {
    margin: 8px 0;
  }
  .form .container-form .input {
    width: 260px;
  }
  .networks .container-networks {
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    width: 100%;
    height: 13vh;
  }
  .networks .container-networks .social-networks a {
    font-size: 35px;
    margin: 0 15px;
  }
  .networks h3 {
    font-size: 0;
    padding-bottom: 0;
    display: none;
    border-bottom: none;
  }
}
