:root {
  --gray-letters: #323335;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
[data-theme = 'light'] {
  --primary: #eff3f5;
  --background: #5db1fc;
  --text: #323335;
}
[data-theme = 'dark'] {
  --primary: #3c4043;
  --background: #0c121a;
  --text: #9aa0a6;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  z-index: 1;
  font-family: "Oswald", sans-serif;
}
.inactive {
  display: none;
}
#particles-js {
  background-color: var(--background);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  color: #fff;
}
.cabecera {
  height: 100vh;
}
.cabecera .fa-solid {
  font-size: 25px;
  color: var(--white-letters);
}
.cabecera .menu {
  background-color: var(--primary);
  width: 100%;
  height: 58px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: 0.3s;
  z-index: 300;
  box-shadow: 2px 2px 15px 0px #00000010;
}
.cabecera .menu .title-menu {
  font-size: 1.7rem;
  font-weight: 200;
  color: var(--text);
  position: absolute;
  top: 16px;
  left: 20px;
  z-index: 310;
}
.cabecera .menu .notebook-menu {
  display: flex;
}
.cabecera .menu a {
  color: var(--text);
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  transition: 2s;
}
.cabecera .menu a:hover {
  border-left: 1px solid var(--text);
  padding: 0.5rem;
}
.cabecera .menu .cv {
  margin-right: 40px;
}
/* Estilos del switch */
.cabecera .menu .notebook-menu .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.cabecera .menu .notebook-menu .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.cabecera .menu .notebook-menu .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -20px;
  right: 20px;
  bottom: 0;
  background-color: #dddddd;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.cabecera .menu .notebook-menu .switch .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.cabecera .menu .notebook-menu .switch input:checked + .slider {
  background-color: #dddddd;
}
.cabecera .menu .notebook-menu .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.cabecera .menu .bars__menu {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5%;
  left: 89%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.cabecera .menu .bars__menu {
  margin-top: 25px;
}
.cabecera .menu .bars__menu span {
  margin-top: 6px;
  width: 100%;
  height: 2px;
  background: var(--text);
  display: block;
  border-radius: 20px;
  transform-origin: 0px 100%;
  transition: all 400ms;
}
.activeline1__bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}
.activeline2__bars-menu {
  opacity: 0;
  margin-left: -30px;
}
.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}
/*mobile menu*/
.cabecera .menu #mobile-menu {
  background-color: var(--primary);
  margin-top: 20px;
  padding: 0px 30px 0px 30px;
  position: absolute;
  top: 35px;
  right: 0px;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 999;
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.cabecera .menu #mobile-menu ul {
  list-style: none;
}
.cabecera .menu #mobile-menu li {
  padding: 8px 0;
  width: 100%;
  border-bottom: 1px solid var(--text);
  transition: 1s;
}
.cabecera .menu #mobile-menu .cv-mobile {
  border-bottom: 1px solid var(--text);
}
.cabecera .menu #mobile-menu a {
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 30px;
  color: var(--text);
  width: 100%;
  text-decoration: none;
}
.cabecera .menu #mobile-menu .switch {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  width: 60px;
  height: 34px;
}
.cabecera .menu #mobile-menu .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.cabecera .menu #mobile-menu .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dddddd;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.cabecera .menu #mobile-menu .switch .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.cabecera .menu #mobile-menu .switch input:checked + .slider {
  background-color: #dddddd;
}
.cabecera .menu #mobile-menu .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*header*/
.info-header {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-header .info-container {
  display: flex;
  width: auto;
  height: auto;
  padding: 15px;
  margin-top: 100px;
}
.info-header .info-container .container-img {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-header .info-container .container-img img {
  width: 230px;
  border-radius: 100%;
}
.info-header .info-container .container-nombre {
  color: var(--text);
  margin: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-left: 1px solid var(--text);
}
/*sombreado*/
.info-header .info-container .container-nombre h1 {
  font-size: 4rem;
  /* background: linear-gradient(to right, #f7f7f7, #7c7b7b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.info-header .info-container .container-nombre h3 {
  font-size: 2rem;
  /* background: linear-gradient(to right, #f7f7f7, #7c7b7b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}
/*main*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .container-about {
  background-color: var(--primary);
  background-size: cover;
  padding: 30px;
  width: 100%;
  height: auto;
  display: flex;
}
main .container-about figure {
  display: flex;
  align-items: center;
  padding-right: 30px;
  border-right: 1px solid var(--text);
}
main .container-about figure img {
  width: 320px;
  border-radius: 100%;
}
main .container-about .about {
  padding-left: 30px;
}
main .container-about .about h2 {
  font-size: 3rem;
  color: var(--text);
  margin-bottom: 30px;
}
main .container-about .about p {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: var(--text);
  line-height: 25px;
  padding-bottom: 8px;
}
main .container-about .about .data-interests {
  display: flex;
}
main .container-about .about .my-data {
  width: auto;
  margin-bottom: 10px;
}
main .container-about .about .my-data h3,
main .container-about .about .interests h3,
main .container-about .about .container-technologies h3 {
  font-size: 1.8rem;
  color: var(--text);
  margin-bottom: 15px;
}
main .container-about .about .my-data ul {
  list-style: none;
}
main .container-about .about .my-data li {
  margin: 8px 0;
  display: flex;
}
main .container-about .about .my-data li h4 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text);
  display: inline-block;
  width: 140px;
}
main .container-about .about .my-data li .data-p {
  font-size: 1.4rem;
}
main .container-about .about .container-technologies {
  width: auto;
  margin-left: 100px;
}
main .container-about .about .technologies {
  font-size: 80px;
  display: flex;
  flex-wrap: wrap;
}
main .container-about .about .technologies div {
  margin-right: 30px;
}
main .container-about .about .technologies .html {
  color: #e34f26;
}
main .container-about .about .technologies .css {
  color: #0099e5;
}
main .container-about .about .technologies .js {
  color: #f7df1e;
}
main .container-about .about .interests {
  width: auto;
}
main .container-about .about .interests .container-interests {
  display: flex;
  flex-wrap: wrap;
}
main .container-about .about .interests .container-interests .interest {
  font-size: 1.6rem;
  margin: 0 15px 15px 0;
  width: 100px;
  height: 100px;
  background-color: #dddddd;
  color: #323335;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
main
  .container-about
  .about
  .interests
  .container-interests
  .interest
  .fa-solid {
  font-size: 30px;
}
main .container-about .about .interests .container-interests .interest:hover {
  background-color: var(--background);
}
main .container-jobs {
  background-color: #359df900;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
main .container-jobs .title {
  margin-top: 10px;
  height: 12%;
  display: flex;
  justify-content: center;
}
main .container-jobs div h2 {
  font-size: 3rem;
  color: var(--text);
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
}
.container-jobs .my-jobs {
  margin: 20px 0;
  height: 88%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  /* gap: 20px; */
  place-content: center;
}
.container-jobs .my-jobs .jobs {
  width: 240px;
  transition: 0.4s;
}
.container-jobs .my-jobs .jobs:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.75);
  background-color: var(--primary);
}
.container-jobs .my-jobs .jobs img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}
.container-jobs .my-jobs .jobs .description {
  margin: 10px 25px;
  display: flex;
  justify-content: space-between;
}
.container-jobs .my-jobs .jobs .description h3 {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text);
}
.container-jobs .my-jobs .jobs .description p {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--text);
}
.container-jobs .my-jobs .jobs .description .icon {
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 1s;
}
.container-jobs .my-jobs .jobs .description .icon:hover {
  background-color: #dddddd;
  color: var(--background);
  border-radius: 100%;
}
main #button-up {
  width: 50px;
  height: 50px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
  -webkit-animation: blink-2 1s infinite;
  animation: blink-2 1s infinite;
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/*footer*/
footer {
  /* background-image: url("../img/background-footer.svg");
  background-size: cover; */
  background: var(--primary);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #principal-1 {
  background-image: url('./img/background-footer-oscuro.svg');
  background-size: cover;
  width: 100%;
} */
footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .title-contacts {
  width: 80%;
  display: flex;
  justify-content: center;
}
footer .title-contacts h2 {
  font-size: 3rem;
  color: var(--text);
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--text);
}
.form .container-form {
  padding: 20px;
  padding-bottom: 30px;
  width: auto;
  height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form .container-form h3 {
  font-size: 1.8rem;
  color: var(--text);
  padding-bottom: 10px;
  width: 60%;
  border-bottom: 1px solid var(--text);
  display: flex;
  justify-content: center;
}
.form .container-form p {
  font-size: 1.4rem;
  color: var(--text);
  margin: 7px 0;
}
.form .container-form .input {
  background-color: transparent;
  padding: 6px;
  width: 355px;
  border: 1px solid var(--text);
}
.form .container-form .button {
  background-color: transparent;
  margin-top: 16px;
  padding: 4px 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  border: 1px solid var(--text);
  font-size: 1.5rem;

  color: var(--text);
}
.form .container-form .button:hover {
  background-color: var(--background);
}
.networks .title-networks {
  display: flex;
  justify-content: center;
}
.networks .container-networks {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.networks .container-networks .social-networks {
  padding: 10px;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--text);
}
.networks .container-networks .social-networks a {
  font-size: 40px;
  color: var(--text);
  margin: 0 20px;
}
.networks .container-networks .social-networks a:hover {
  color: var(--background);
}
.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: var(--primary);
  color: #545454;
  font-family: inherit;
  font-size: 1rem;
}
.swal2-container.swal2-center > .swal2-popup {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  width: 300px;
}
.swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0.8em 1em 0;
  color: var(--background);
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}
.swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 1em 1.6em 0.3em;
  padding: 0;
  overflow: auto;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text);
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}
.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: var(--background);
  color: #fff;
  font-size: 1.4rem;
}
