:root {
  --white-letters: #fff;
  --gray-letters: #323335;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Oswald", sans-serif;
}
.inactive {
  display: none;
}
.cabecera {
  background-image: url("../img/Rectangle\ 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}
.cabecera .fa-solid {
  font-size: 25px;
  color: var(--white-letters);
}
.cabecera .menu {
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: 0.3s;
}
.cabecera .menu:hover {
  background-color: #bdbbba5b;
}
.cabecera .menu .bars__menu{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    left: 89%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.cabecera .menu .bars__menu span {
    margin-top: 6px;
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    border-radius: 20px;
    transform-origin: 0px 100%;
    transition: all 400ms;
}
.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px); 
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px; 
}
.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}
.cabecera .menu .notebook-menu {
  display: block;
}
.cabecera .menu a {
  color: var(--white-letters);
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  border-left: 1px transparent var(--white-letters);
  border-bottom: 1px transparent var(--white-letters);
  transition: 3s;
}
.cabecera .menu a:hover {
  border-left: 1px solid var(--white-letters);
  padding: 0.5rem;
}
.cabecera .menu .cv {
  margin-right: 60px;
}
/*mobile menu*/
.cabecera .menu #mobile-menu {
  background-color: #e9e6e4;
  margin-top: 20px;
  padding: 0px 10px 0px 10px;
  position: absolute;
  top: 45px;
  right: 20px;
  width: auto;
  height: auto;
  text-align: center;
  z-index: 999;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.cabecera .menu #mobile-menu ul {
  list-style: none;
}
.cabecera .menu #mobile-menu li {
  padding: 8px 0;
  width: 140px;
  border-bottom: 1px solid #323335;
  transition: 1s;
}
.cabecera .menu #mobile-menu li:hover {
  background-color: #989899b4;
}
.cabecera .menu #mobile-menu .cv-mobile {
  border: none;
}
.cabecera .menu #mobile-menu a {
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 30px;
  color: var(--gray-letters);
  width: 100%;
  text-decoration: none;
}
/*header*/
.info-header {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-header .info-container {
  display: flex;
  border: 1px solid var(--white-letters);
  width: 440px;
  height: 230px;
  padding: 15px;
  box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.54);
  animation: move-vector 2s ease-in-out infinite;
}
@keyframes move-vector {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}
.info-header .info-container .container-img {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-header .info-container .container-img img {
  width: 200px;
  border-radius: 100%;
}
.info-header .info-container .container-nombre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-left: 1px solid var(--white-letters);
  margin-left: 15px;
}
.info-header .info-container .container-nombre h1 {
  color: var(--white-letters);
  font-size: 3rem;
}
.info-header .info-container .container-nombre h3 {
  color: var(--white-letters);
  font-size: 1.6rem;
}
/*main*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .container-about {
  background-color: #fff;
  padding: 30px;
  width: 100%;
  height: auto;
  display: flex;
}
main .container-about figure {
  display: flex;
  align-items: center;
  padding-right: 30px;
  border-right: 1px solid var(--gray-letters);
}
main .container-about figure img {
  width: 320px;
  border-radius: 100%;
}
main .container-about .about {
  padding-left: 30px;
}
main .container-about .about h2 {
  font-size: 3rem;
  color: var(--gray-letters);
  margin-bottom: 30px;
}
main .container-about .about p {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: var(--gray-letters);
  line-height: 20px;
  padding-bottom: 8px;
}
main .container-about .about .technologies {
  width: auto;
  height: auto;
  font-size: 50px;
  display: flex;
}
main .container-about .about .technologies div {
  margin-right: 30px;
  -webkit-animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite;
	        animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite;
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
main .container-about .about .technologies .html {
  color: #e34f26;
}
main .container-about .about .technologies .css {
  color: #0099e5;
}
main .container-about .about .technologies .js {
  color: #f7df1e;
}
main .container-jobs {
  background-color: #e9e6e4;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
main .container-jobs .title {
  margin-top: 10px;
  height: 12%;
  display: flex;
  justify-content: center;
}
main .container-jobs div h2 {
  font-size: 3rem;
  color: var(--gray-letters);
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid ;
}
.container-jobs .my-jobs {
  margin: 20px 0;
  height: 88%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  /* gap: 20px; */
  place-content: center;
}
.container-jobs .my-jobs .jobs {
  width: 240px;
  transition: 0.4s;
}
.container-jobs .my-jobs .jobs:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}
.container-jobs .my-jobs .jobs img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}
.container-jobs .my-jobs .jobs .description {
  margin: 10px 25px;
  display: flex;
  justify-content: space-between;
}
.container-jobs .my-jobs .jobs .description h3 {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--gray-letters);
}
.container-jobs .my-jobs .jobs .description p {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--gray-letters);
}
.container-jobs .my-jobs .jobs .description .icon {
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: var(--gray-letters);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 1s;
}
.container-jobs .my-jobs .jobs .description .icon:hover {
  background-color: #989899;
  border-radius: 100%;
}
main #button-up {
  width: 50px;
  height: 50px;
  background-color: #323335;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-letters);
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
  -webkit-animation: blink-2 1s infinite;
	        animation: blink-2 1s infinite;
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/*footer*/
footer {
  background-color: #fff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .title-contacts {
  width: 80%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--gray-letters);
}
footer .title-contacts h2 {
  font-size: 3rem;
  color: var(--gray-letters);
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.form .container-form {
  margin: 20px 0 20px 20px;
  padding: 20px;
  padding-bottom: 30px;
  width: auto;
  height: 305px;
  border: 1px solid #323335;
  border-radius: 40px 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form .container-form h3 {
  font-size: 1.8rem;
  color: var(--gray-letters);
  padding-bottom: 10px;
  width: 60%;
  border-bottom: 1px solid #323335;
  display: flex;
  justify-content: center;
}
.form .container-form p {
  font-size: 1.4rem;
  color: var(--gray-letters);
  margin: 7px 0;
}
.form .container-form input {
  background-color: transparent;
  padding: 4px;
  width: 355px;
  border: 1px solid #323335;
}
.form .container-form button {
  margin-top: 16px;
  padding: 8px 30px;
  background-color: #e9e6e4;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  border: none;
  font-size: 1.5rem;
  color: #323335;
}
.form .container-form button:hover {
  background-color: #bdbbba;
}
.networks .title-networks {
  display: flex;
  justify-content: center;
}
.networks h3 {
  font-size: 1.8rem;
  color: var(--gray-letters);
  padding-bottom: 10px;
  width: 60%;
  border-bottom: 1px solid #323335;
  display: flex;
  justify-content: center;
}
.networks .container-networks {
  margin: 20px 20px 20px 0;
  padding: 10px 20px;
  padding-bottom: 30px;
  width: auto;
  height: 305px;
  border: 1px solid #323335;
  border-left: none;
  border-radius: 0 40px 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.networks .container-networks .social-networks {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.networks .container-networks .social-networks a {
  font-size: 50px;
  color: var(--gray-letters);
  margin: 0 20px;
}
.networks .container-networks .social-networks a:hover {
  color: #989899;
}

@media(max-width: 1000px) {
  .cabecera .menu a {
    margin: 0 8px;
    font-size: 1.2rem;
  }
  .cabecera .menu .cv {
    margin-right: 40px;
  }
  main .container-about figure img {
    width: 260px;
  }
  .container-jobs .my-jobs {
    grid-template-columns: repeat(auto-fill, 220px);
  }
  .container-jobs .my-jobs .jobs {
    width: 220px;
  }
  .container-jobs .my-jobs .jobs img {
    width: 220px;
  }
  .form .container-form {
    width: 340px;
  }
  .form .container-form input {
    width: 280px;
  }
  .networks .container-networks {
    width: 340px;
  }
  .networks .container-networks .social-networks a {
    font-size: 40px;
  }
}

@media(max-width: 768px) {
  .cabecera {
    width: 100%;
    height: 80vh;
  }
  .cabecera .menu:hover {
    background-color: transparent;
  }
  .cabecera .menu a:hover {
  border: none;
  padding: 0;
  }
  .cabecera .menu .notebook-menu {
    display: none;
  }
  .bars__menu {
    display: block;
  }
  .info-header .info-container {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
  }
  .info-header .info-container .container-img img {
    width: 200px;
  }
  .info-header .info-container .container-nombre {
    margin-left: 0;
    border: none;
  }
  .info-header .info-container .container-nombre h3 {
    font-size: 1.7rem;
  }
  main .container-about {
    padding: 10px 0;
    height: auto;
  }
  main .container-about figure {
    display: none;
    padding-right: 0;
    border-right: none;
  }
  main .container-about figure img {
    width: 0;
  }
  main .container-about .about {
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  main .container-about .about .title-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .container-about .about h2 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #323335;
  }
  main .container-about .about p {
   padding: 5px 25px;
  }
  main .container-about .about .technologies {
    justify-content: center;
  }
  main .container-about .about .technologies div {
    margin: 0 15px;
  }
  .container-jobs .my-jobs {
    grid-template-columns: repeat(auto-fill, 160px);
  }
  .container-jobs .my-jobs .jobs {
    width: 160px;
  }
  .container-jobs .my-jobs .jobs img {
    width: 160px;
    height: 160px;
  }
  main #button-up {
    width: 40px;
    height: 40px;
    right: 25px;
    bottom: 40px;
  }
  footer {
  height: auto;
  }
  footer .footer-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .form .container-form {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 300px;
   border: none;
  }
  .form .container-form p {
   margin: 8px 0;
  }
  .form .container-form input {
   width: 260px;
  }
  .form .container-form button {
  margin: 16px 0;
  padding: 5px 20px;
  }
  .networks .container-networks {
   margin: 0;
   padding: 0;
   padding-bottom: 0;
   width: 100%;
   height: 13vh;
   border: none;
  }
  .networks .container-networks .social-networks {
   width: 60%;
   border-top: 1px solid #323335;
  }
  .networks .container-networks .social-networks a {
   font-size: 35px;
  }
  .networks h3 {
   font-size: 0;
   padding-bottom: 0;
   display: none;
   border-bottom: none;
  }
}

@media(max-width: 370px) {
  .cabecera {
    width: 100%;
    height: 80vh;
  }
  .bars__menu {
    display: block;
  }
  .info-header .info-container {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
  }
  .info-header .info-container .container-img img {
    width: 200px;
  }
  .info-header .info-container .container-nombre {
    margin-left: 0;
    border: none;
  }
  .info-header .info-container .container-nombre h3 {
    font-size: 1.7rem;
  }
  main .container-about {
    padding: 10px 0;
    height: auto;
  }
  main .container-about figure {
    display: none;
    padding-right: 0;
    border-right: none;
  }
  main .container-about figure img {
    width: 0;
  }
  main .container-about .about {
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  main .container-about .about h2 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #323335;
  }
  main .container-about .about p {
   padding: 5px 25px;
  }
  .container-jobs .my-jobs {
    grid-template-columns: repeat(auto-fill, 160px);
  }
  .container-jobs .my-jobs .jobs {
    width: 160px;
  }
  .container-jobs .my-jobs .jobs img {
    width: 160px;
    height: 160px;
  }
  main #button-up {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 55px;
  }
  footer {
  height: auto;
  }
  footer .footer-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .form .container-form {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 300px;
   border: none;
  }
  .form .container-form p {
   margin: 8px 0;
  }
  .form .container-form input {
   width: 260px;
  }
  .networks .container-networks {
   margin: 0;
   padding: 0;
   padding-bottom: 0;
   width: 100%;
   height: 13vh;
   border: none;
  }
  .networks .container-networks .social-networks {
   width: 60%;
   border-top: 1px solid #323335;
  }
  .networks .container-networks .social-networks a {
   font-size: 35px;
  }
  .networks h3 {
   font-size: 0;
   padding-bottom: 0;
   display: none;
   border-bottom: none;
  }
}
